@model SysReservacionEventosESFE.EntidadesDeNegocio.Evento

@{
    ViewData["Title"] = "Edit";
    List<SysReservacionEventosESFE.EntidadesDeNegocio.Usuario> usuario = ViewBag.Usuario as List<SysReservacionEventosESFE.EntidadesDeNegocio.Usuario>;
    List<SysReservacionEventosESFE.EntidadesDeNegocio.Carrera> carrera = ViewBag.Carrera as List<SysReservacionEventosESFE.EntidadesDeNegocio.Carrera>;
    List<SysReservacionEventosESFE.EntidadesDeNegocio.Institucion> institucion = ViewBag.Institucion as List<SysReservacionEventosESFE.EntidadesDeNegocio.Institucion>;
    List<SysReservacionEventosESFE.EntidadesDeNegocio.EspaciosA> espacios = ViewBag.Espacios as List<SysReservacionEventosESFE.EntidadesDeNegocio.EspaciosA>;
}

@if (User.IsInRole("Maestro"))
{
    <h1>Edit</h1>

    <h4>Evento</h4>
    <hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdEvento" class="form-control" />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Responsable" class="control-label"></label>
                    <input asp-for="Responsable" class="form-control" />
                    <span asp-validation-for="Responsable" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Numero de asistentes</label>
                    <input asp-for="NAsistentes" class="form-control" />
                    <span asp-validation-for="NAsistentes" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Fecha de evento</label>
                    <input asp-for="FechaEvento" class="form-control" />
                    <span asp-validation-for="FechaEvento" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Hora de inicio</label>
                    <input asp-for="HoraInicio" class="form-control" />
                    <span asp-validation-for="HoraInicio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="HoraFin" class="control-label">Hora de finalizacion</label>
                    <input asp-for="HoraFin" class="form-control" />
                    <span asp-validation-for="HoraInicio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="IdCarrera" class="control-label"></label>
                    <select asp-for="IdCarrera" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in carrera)
                        {
                            if (Model.IdCarrera == item.IdCarrera)
                            {
                                <option selected value="@item.IdCarrera">@item.Nombre</option>
                            }
                            else
                            {
                                <option value="@item.IdCarrera">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="IdCarrera" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Institucion</label>
                    <select asp-for="IdInstitucion" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in institucion)
                        {
                            if (Model.IdInstitucion == item.IdInstitucion)
                            {
                                <option selected value="@item.IdInstitucion">@item.Nombre</option>
                            }
                            else
                            {
                                <option value="@item.IdInstitucion">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="IdInstitucion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="IdEspaciosA" class="control-label"></label>
                    <select asp-for="IdEspaciosA" name="IdEspaciosA" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in espacios)
                        {
                            if (Model.IdEspaciosA == item.IdEspaciosA)
                            {
                                <option selected value="@item.IdEspaciosA">@item.Nombre</option>
                            }
                            else
                            {
                                <option value="@item.IdEspaciosA">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="IdEspaciosA" class="text-danger"></span>
                </div>
            </div>
        </div>






        @*BOTONES EDITADOS CON ICONOS*@

        <div class="form-group" style="margin-top: 10px;">
            <button type="submit" class="btn btn-success" style="margin-right: 10px;">
                <i class="fas fa-save"></i> Guardar
            </button>

            <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                <i class="fas fa-times"></i> Cancelar
            </button>
        </div>

    </form>


    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script>
            $(function () {
                $("form input[name],form select[name]").trigger("blur");
            });
        </script>
}

}


            
@if (User.IsInRole("Administrador"))
{
    <h1>Edit</h1>

    <h4>Evento</h4>
    <hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdEvento" class="form-control" />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Responsable" class="control-label"></label>
                    <input asp-for="Responsable" class="form-control" />
                    <span asp-validation-for="Responsable" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Numero de asistentes</label>
                    <input asp-for="NAsistentes" class="form-control" />
                    <span asp-validation-for="NAsistentes" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Fecha de evento</label>
                    <input asp-for="FechaEvento" class="form-control" />
                    <span asp-validation-for="FechaEvento" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Hora de inicio</label>
                    <input asp-for="HoraInicio" class="form-control" />
                    <span asp-validation-for="HoraInicio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="HoraFin" class="control-label">Hora de finalizacion</label>
                    <input asp-for="HoraFin" class="form-control" />
                    <span asp-validation-for="HoraInicio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="IdCarrera" class="control-label"></label>
                    <select asp-for="IdCarrera" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in carrera)
                        {
                            if (Model.IdCarrera == item.IdCarrera)
                            {
                                <option selected value="@item.IdCarrera">@item.Nombre</option>
                            }
                            else
                            {
                                <option value="@item.IdCarrera">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="IdCarrera" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Institucion</label>
                    <select asp-for="IdInstitucion" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in institucion)
                        {
                            if (Model.IdInstitucion == item.IdInstitucion)
                            {
                                <option selected value="@item.IdInstitucion">@item.Nombre</option>
                            }
                            else
                            {
                                <option value="@item.IdInstitucion">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="IdInstitucion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="IdEspaciosA" class="control-label"></label>
                    <select asp-for="IdEspaciosA" name="IdEspaciosA" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in espacios)
                        {
                            if (Model.IdEspaciosA == item.IdEspaciosA)
                            {
                                <option selected value="@item.IdEspaciosA">@item.Nombre</option>
                            }
                            else
                            {
                                <option value="@item.IdEspaciosA">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="IdEspaciosA" class="text-danger"></span>
                </div>
            </div>
        </div>






        @*BOTONES EDITADOS CON ICONOS*@

        <div class="form-group" style="margin-top: 10px;">
            <button type="submit" class="btn btn-success" style="margin-right: 10px;">
                <i class="fas fa-save"></i> Guardar
            </button>

            <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                <i class="fas fa-times"></i> Cancelar
            </button>
        </div>

    </form>


    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script>
            $(function () {
                $("form input[name],form select[name]").trigger("blur");
            });
        </script>
}

}