@model SysReservacionEventosESFE.EntidadesDeNegocio.RolAccesos

@{
    ViewData["Title"] = "Edit";
    List<SysReservacionEventosESFE.EntidadesDeNegocio.Rol> rol = ViewBag.Rols as List<SysReservacionEventosESFE.EntidadesDeNegocio.Rol>;
    List<SysReservacionEventosESFE.EntidadesDeNegocio.Accesos> accesos = ViewBag.Accesos as List<SysReservacionEventosESFE.EntidadesDeNegocio.Accesos>;
}
<h1>Edit</h1>

<h4>Acceso</h4>
<hr />

<form asp-action="Edit">
    <!-- Tu formulario aquí -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Institucion</label>
            <input type="text" class="form-control" value="@ViewBag.RolNombre" readonly />
            <input type="hidden" name="IdRol" value="@ViewBag.RolId" />

        </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Acceso</label>
                <div class="checkbox-container">
                    @foreach (var item in accesos)
                    {
                        <div class="form-check custom-checkbox">
                            <input type="checkbox" class="form-check-input" id="acceso_@item.IdAcceso" name="Acceso" value="@item.IdAcceso">
                            <label class="form-check-label" for="acceso_@item.IdAcceso">@item.Nombre</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="IdAcceso" class="text-danger"></span>
            </div>
        </div>
    </div>




    @*BOTONES EDITADOS CON ICONOS*@

    <div class="form-group" style="margin-top: 10px;">
        <button type="submit" class="btn btn-success" style="margin-right: 10px;">
            <i class="fas fa-save"></i> Guardar
        </button>

        <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
            <i class="fas fa-times"></i> Cancelar
        </button>
    </div>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $("form input[name],form select[name]").trigger("blur");
        });
    </script>
}

